h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

p {
  font-size: 16px;
  color: #555;
  text-align: center;
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
